<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/list</title>
<style>
	ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0; /* Remove default padding */
    }

    li {
        margin: 0; /* Remove default margin */
    }
	
	
</style>
</head>


<body>

<h1>board/list</h1>
	<table border="">
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>조회수</td>
		</tr>
		<tr th:each="dto, dtoStat : ${mainData}">
			<td th:text="${dtoStat.count}"/>
			<td >
				<a th:href="|detail/${dto.id}|" th:text="${dto.title}"></a>
			</td>
			<td th:text="${dto.pname}"/>
			<td th:text="${dto.regDate}"/>
			<td th:text="${dto.cnt}"/>
		</tr>
		<!-- 페이징처리 -->
		<tr>
		    <td colspan="5">
				<ul>
			        <li th:if="${pageData.page > 1}"> <!--현재 페이지가 1페이지보다 큰 경우에만 이전 페이지로 이동할 수 있는 링크가 표시-->
			            <a th:href="|/board/list?page=${pageData.page - 1}|"><<<</a> <!--이전으로 간다-->
			        </li>
			        <li th:each="pageNumber : ${#numbers.sequence(pageData.pageStart, pageData.pageEnd)}"> <!--pageData.pageStart에서 pageData.pageEnd까지의 숫자 시퀀스를 생성-->
			            <a th:href="|/board/list?page=${pageNumber}|" <!--페이지 넘버로 이동-->
			               >[[${pageNumber}]] 페이지</a>
			        </li>
			        <li th:if="${pageData.page < pageData.pageTotal}"> <!--현재 페이지 번호가 총 페이지보다 작을경우 -->
			            <a th:href="|/board/list?page=${pageData.page + 1}|">>>></a>
			        </li>
		        </ul>
		    </td>
		</tr>

		
		
		<tr>
			<td colspan="5" align="right">
				<a href="insert">글쓰기</a>
			</td>
		</tr>
		
		
		
		
		
		


		
	</table>
	
	
	아 왜안되는거야

</body>
</html>