<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>model/season</title>
<style>
	tr > td > img{
		margin:20px;
		width:200px;
		height: 150px;
	}
	
</style>
</head>
<body>
<h2>내가 total2 이여</h2>


cate:[[${cate}]]<br/>

<table border="">
	
	<tr>
		<th:block th:replace="|thyme/inc/${headerUrl}(quizCate=${quizCate})|">
		<td width="1010px">
			
			<table>
				<tr>
					<td>헤더<th:block  th:replace="|thyme/inc/${headerUrl}|"/>	
						
					</td>
				</tr>
			</table>
		</td>
		</th:block>
	</tr>
	
	<tr>
		<td>
			<th:block  th:replace="|thyme/inc/${bodyUrl}|"/>
			
		</td>
	</tr>
	<tr>
		<td><th:block  th:replace="|thyme/inc/${footerUrl}|"/></td>
	</tr>
	
	
	
</table>




</body>
</html>