<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
<h1>안녕하세요 회원가입 페이지입니당구리당당당!!</h1>
<form action="joinReg" method="post">
	<table border="">
		<tr>
			<td>이름</td>
			<td><input type="text" name="pname" /></td>
		</tr>	
		<tr>
			<td>패스워드</td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td>닉네임</td>
			<td><input type="text" name="nickname" /></td>
		</tr>
		<tr>
			<td>연락처</td>
			<td><input type="text" name="phone" /></td>
		</tr>
		
		<tr>
			<td>성별</td>
			<td><input type="text" name="gender" /></td>
		</tr>
		<tr>
			<td>메일</td>
			<td><input type="text" name="mail" /></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="가입하기~" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>