<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>국영수 입력퀴즈</title>
</head>
<body>
<h1>국영수 입력퀴즈</h1>
<form action="">
	<table border="">
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" /></td>
		</tr>
	</table>
</form>
</body>
</html>